<html>
  <head>
    <link rel="stylesheet" href="lib/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <script src="lib/script.js"></script>
  </head>
  <body>
    <h1>Bem vindo!!</h1>
    <input type="text" name="name" placeholder="Digite seu nome" id="name"/>
    <button onclick="handleClick()">Olá Mundo!</button>
  </body>
</html>